<video id="videoElement" class="videoElement" autoplay muted playsinline></video>

<h6>Image Preview:</h6>

<button id="Scan">Scan</button>
<button id="capture">capture</button>
<div id="info"></div>
<div id="btn">
    <button id="upload">upload</button>
    <button id="confirm" hidden>Confirm</button>
</div>
<div>SYS</div>
<input id="sys" />
<div>DIA</div>
<input id="dia" />
<div>PUL</div>
<input id="pul" />
<div class="col" id="imageContainer"></div>
<div id="content"></div>
<script src="/js/aiversion.js"></script>