<video id="videoElement" class="videoElement" autoplay muted playsinline></video>

<h6>Image Preview:</h6>
<img src="/images/microlifebpm.png" width="200" height="200" />
<div class="col" id="imageContainer"></div>
<button id="startCam">startCam</button>
<button id="capture">capture</button>
<div id="info"></div>
<div id="btn">
    <button id="upload">finished</button>
    <button id="confirm" hidden>Confirm</button>
</div>
<div>SYS</div>
<div id="sys"></div>
<div>DIA</div>
<div id="dia"></div>
<div>PUL</div>
<div id="pul"></div>

<button id="ocr">ocr</button>
<script src="/js/aiversion.js"></script>