
<form action="/OCR/DoOCR" method="post" enctype="multipart/form-data">
    <input type="text" value="eng" name="DestinationLanguage" hidden />
    <input type="file" name="Image" />
    <button type="submit">test</button>
</form>



